---
import { Card } from "@/components/ui/card";

const { headings } = Astro.props;
---

<Card>
  <nav class="toc" aria-labelledby="toc-heading">
    <h2 id="toc-heading" class="mb-4 text-lg font-semibold">
      Table of Contents
    </h2>
    <ul class="space-y-3">
      {
        headings.map((heading: any) => (
          <li class={`toc-item toc-item-${heading.depth}`}>
            <a
              href={`#${heading.slug}`}
              class="block text-sm leading-tight text-gray-700 hover:text-gray-900 hover:underline"
              title={heading.text}
            >
              {heading.text}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</Card>

<style>
  .toc-item {
    margin-left: 0rem;
  }
  .toc-item-2 {
    margin-left: 1rem;
  }
  .toc-item-3 {
    margin-left: 2rem;
  }
  .toc-item-4 {
    margin-left: 3rem;
  }
</style>
