---
import "@/styles/markdown.css";
import Layout from "@/layouts/Layout.astro";
import TableOfContent from "@/modules/blog/components/TableOfContent.astro";
import SkillBadge from "@/components/SkillBadge.astro";

import { skillIconMap } from "@/lib/skillIconMap";
import { Author } from "@/components/Author";

import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { formatDate } from "@/modules/blog/utils/formatDate";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { post, headings } = Astro.props;
---

<Layout>
  <div
    class="mx-auto mt-4 grid max-w-6xl grid-cols-1 gap-8 px-6 md:px-4 lg:grid-cols-5 lg:px-2"
  >
    <article class="lg:col-span-4">
      <header class="relative mb-8">
        <h1 class="mb-2 text-4xl font-bold text-foreground lg:text-5xl">
          {post.data.title}
        </h1>
        <Author
          postedString={`${t("posted.on")} ${formatDate(post.data.date, lang)}`}
        />
        {
          post.data.tags && (
            <div class="mt-2">
              {post.data.tags.map((tag: string) => (
                <a href={`/${lang}/tags/${tag.toLowerCase()}`}>
                  <SkillBadge
                    skill={skillIconMap[tag as keyof typeof skillIconMap]}
                  />
                </a>
              ))}
            </div>
          )
        }
      </header>
      <div class="prose prose-lg relative max-w-none">
        <slot />
      </div>
    </article>
    <aside class="hidden flex-shrink-0 lg:col-span-1 lg:block">
      <div class="sticky top-8">
        <TableOfContent headings={headings} />
      </div>
    </aside>
  </div>
</Layout>
